@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300&family=Luxurious+Roman&family=Macondo&family=Neonderthaw&family=Oswald:wght@200&family=Playfair+Display:ital,wght@1,400;1,500&family=Rubik+Beastly&family=Shadows+Into+Light&family=Water+Brush&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

:root {
    --rojo: #C32424;
    --morado: #6B0E89;
    --tinto: #7E0606;

}

body {
    width: 100%;
    font-family: 'Shadows Into Light', cursive;
}

.navbar a {
    text-decoration: none;
    color: var(--rojo)
}

.navbar a:hover {
    color: var(--morado);
    text-decoration: underline;
}

li {
     list-style: none;
    
 }

 * img {
     width: 100% ;
     height: auto;
 }

 .logo-nav {
     width: 100%;
     width: 100px;
 }

 header {
     background-color:black;
     width: 100%;
 }
  /*navbar*/

  .menu-navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    
}


.container-items {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 5px;
    
}

.item {
    width: 100%;
    text-align: center;
    padding: 1rem 1rem ;

}

/*terminado navbar*/

/*section 1*/

.section1 {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.metallica-trans {
    width: 90%;
}

.metallica-fondo {
    border-radius: 3rem;
    padding:  1rem;
}

.metallica-arg {
    text-align: center;
    margin-bottom: 1rem;
}

.btn {
    background-color: var(--morado);
    color: black;
    padding: 5px ;
    border-radius: 7px;
    border: 3px solid black;
}


.btn:hover {
    background-color: var(--tinto);
    transition: 3s;
    transform: scale(1.1);
    color: black;  
}

.metallica-arg p {
    color: white;
    text-align: center;
}

/*.metallica-arg h2 {
    color: var(--tinto);
    font-size: 500px;
}*/

.botones {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.botones a {
    text-decoration: none;
}
/*terminada section1*/
/*empiezo section2*/

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
}

.metallica-bio {
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
    margin-bottom: 1rem;
    overflow: auto;
}

.metallica-bio h2 {
    font-size: xxx-large;
}


/*terminada section2*/

/*empieza section3 compras*/

.section3 {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.productos img {
    width: 200px;
    border-radius: 1rem;
    
}

.estrella {
    width: 200px;
}

.estrella:hover{
    transform: rotate(360deg);
    transition: transform 2s ease ;
}

.productos {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px 5px rgba(238, 236, 236, 0.3);
    color: white;
    position: relative;
}

.productos:hover {
    box-shadow: 0 0 20px 5px rgba(213, 14, 14, 0.3);
}

.precio {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight:400;
    margin-top: 1rem;
}

.btn-placas {
    background-color:var(--morado);
    padding: 2px ;
    text-align: center;
    border-radius: 1rem;
    margin-top: 1.5rem;
    color: black;
    text-decoration: none;
    
}

.btn-placas:hover {
    transform: scale(1.2);
}

.stock {
    background-color: red;
    padding: 1rem 3rem;
    position: absolute;
    top: 1rem;
    margin-left: 1rem;
}

.disabled {
    background-color: grey;
    cursor: no-drop;
}

/*terminada section3 compras*/

/*mediaqueris*/

@media (min-width: 700px){
    
    .section1 {
        flex-direction:row;
        justify-content:space-between;
        align-items: center;
    }

    .metallica-fondo {
        width: 700px;
    }

    .metallicap{
        font-size: 2rem
    }

    .iframe {
        width: 1000px;
        height: 600px;
    }

    .section3 {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .productos {
        margin: 2rem;
    
    }
}








