@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300&family=Luxurious+Roman&family=Macondo&family=Neonderthaw&family=Oswald:wght@200&family=Playfair+Display:ital,wght@1,400;1,500&family=Rubik+Beastly&family=Shadows+Into+Light&family=Water+Brush&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    
}


    
:root {
    --rojo: #C32424;
    --morado: #6B0E89;
    --tinto: #7E0606;

}

body {
    width: 100%;
    font-family: 'Shadows Into Light', cursive;
}


 .logo-nav {
     width: 100px;
     margin-right: 300px;
 }


 header {
     background-color:black;
     width:100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0 auto;
     position: sticky;
     z-index: 9999;
 }

  /*navbar*/
  .menu {
    font-size: 30px;
    color: white;
    cursor: pointer;
    margin-right: 30px;
  }

  .navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-right: 10px;
    position: absolute;
    background-color: black;
    flex-direction: column;
    top: 100px;
    right: 0;
    width: 100%;
    height: calc(50vh - 100px);
    display: none;
    z-index: 9999;
  }

  #toggle-menu:checked + .navbar-list {
    display: flex;
  }

  .navbar-list a {
    text-decoration: none;
    color: var(--rojo);
  }

  .navbar-list a:hover{
    color: var(--morado);
    font-size: 20px;
  }

  .navbar-list li {
    list-style: none;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #toggle-menu {
    display: none;
  }


/*terminado navbar*/

/*section 1*/

.section1 {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.metallica-trans {
    width: 90%;
}

.metallica-fondo {
    border-radius: 3rem;
    padding:  1rem;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.metallica-arg {
    text-align: center;
    margin-bottom: 1rem;
}

.btn {
    background-color: var(--morado);
    color: black;
    padding: 5px ;
    border-radius: 7px;
    border: 3px solid black;
}


.btn:hover {
    background-color: var(--tinto);
    transition: 3s;
    transform: scale(1.1);
    color: black;  
}

.metallica-arg p {
    color: white;
    text-align: center;
    margin: 0 1rem;
}

/*.metallica-arg h2 {
    color: var(--tinto);
    font-size: 500px;
}*/

.botones {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.botones a {
    text-decoration: none;
}
/*terminada section1*/
/*empiezo section2*/

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
}

.metallica-bio {
    text-align: center;
    padding: 1rem 0;
    margin: 2rem 1rem 2rem;
    overflow: auto;
}

.metallica-bio h2 {
    font-size: xxx-large;
}


/*terminada section2*/

/*empieza section3 compras*/

.section3 {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.productos img {
    width: 200px;
    border-radius: 1rem;
    
}

.estrella {
    width: 200px;
    animation: estrellam 3s ease-in-out infinite;

}
.estrella-m h2 {
    color: white;
    font-size: 70px;

}
/*.estrella:hover{
    transform: rotate(360deg);
    transition: transform 2s ease;
}*/


@keyframes estrellam {
    0% {
        transform: rotate(180deg);
    }
    

}

.productos {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px 5px rgba(238, 236, 236, 0.3);
    color: white;
    position: relative;
}

.productos:hover {
    box-shadow: 0 0 20px 5px rgba(213, 14, 14, 0.3);
}

.precio {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight:400;
    margin-top: 1rem;
}

.btn-placas {
    background-color:var(--morado);
    padding: 2px ;
    text-align: center;
    border-radius: 1rem;
    margin-top: 1.5rem;
    color: black;
    text-decoration: none;
    
}

.btn-placas:hover {
    transform: scale(1.2);
}

.stock {
    background-color: red;
    padding: 1rem 3rem;
    position: absolute;
    top: 1rem;
    margin-left: 1rem;
}

.disabled {
    background-color: grey;
    cursor: no-drop;
}

/*terminada section3 compras*/

/*empiezo section4 mapa*/


.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:black;
    padding: 40px 0 50px 0;
}

.encontranos {
    color: white;
    font-size: 30px;
    padding: 20px 0;
    text-shadow: -2px -6px 2px;
}

.divisor {
    margin-top: 20px;
    max-width: 90%;
    width: 400px;
    height: 3px;
    background-color: var(--tinto);
}

.section5 {
    height: 50px;
    background-color: black;
}

.div-div {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/*empiezo footer */

.footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.footer-msj p {
    margin-bottom: 15px;
    font-size: 20px;
}

.redes-sociles {
    display: flex;
    gap: 20px;
}
 .info-redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
 }

 .info-redes p {
    font-size: 25px;
 }

 .politicas {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
 }

.politicas a {
    text-decoration: none;
    color: white;

}

/*mediaqueris*/

@media (min-width: 700px) {

    .navbar-list {
        display: flex;
        flex-direction:row;
        position:sticky;
        z-index:0;
        height: 100px;
        justify-content: flex-end;
        margin-right: 50px;
        font-weight: 700;
    }

    label {
        display: none;
    }

    .section1 {
        flex-direction:row;
        justify-content:space-between;
        align-items: center;
    }

    .metallica-fondo {
        width: 700px;
        margin-right: 2rem;

    }

    .metallicap{
        font-size: 2rem
    }
    
    .metallica-bio p {
        margin: 0 2rem;
    }

    .iframe {
        width: 1000px;
        height: 600px;
    }

    .estrella {
        margin-top: 2rem;
    }


    .discos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 50px;

    }

    .productos {
        margin: 1rem;
    }

    .footer {
        flex-direction: row;
        justify-content: space-around;
    
    }

    .divisor {
        max-width: 90%;
        width: 1300px;
        height: 3px;
        background-color: var(--tinto);
}

.encontranos {
    font-size: 50px;
}

}

